################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/TopflytechCodec/.vs/TopflytechCodec/FileContentIndex/05550f9d-5d37-4f6b-9b21-de26ba212c00.vsidx
/C#/TopflytechCodec/.vs/TopflytechCodec/FileContentIndex/352c0cee-8a95-44a6-8dce-8042a3f74617.vsidx
